.shorten-form-container {
  background: hsl(257, 27%, 26%);
  padding: 2rem;
  border-radius: 8px;
  margin: -3rem auto 0;
  max-width: 1200px;
  position: relative;
}

.input-group {
  flex: 1;
  position: relative;
}

.input-group.error input {
  border: 3px solid hsl(0, 87%, 67%);
}

.error-text {
  color: hsl(0, 87%, 67%);
  font-style: italic;
  position: absolute;
  bottom: -1.5rem;
}